<% provide(:title, 'Info') %>
    <h1>Info</h1>
    <p>
      This is the info page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>